Package            Version
------------------ ---------------
annotated-doc      0.0.4
annotated-types    0.7.0
anyio              4.13.0
boto3              1.43.14
botocore           1.43.14
certifi            2026.5.20
charset-normalizer 3.4.7
click              8.4.1
cohere             5.5.0
colorama           0.4.6
dotenv             0.9.9
fastapi            0.136.1
fastavro           1.12.2
filelock           3.29.0
fsspec             2026.4.0
h11                0.16.0
httpcore           1.0.9
httpx              0.28.1
httpx-sse          0.4.3
huggingface_hub    0.36.2
idna               3.16
jmespath           1.1.0
joblib             1.5.3
numpy              2.4.6
packaging          26.2
pandas             3.0.3
pip                26.1.1
pydantic           2.13.4
pydantic_core      2.46.4
python-dateutil    2.9.0.post0
python-dotenv      1.2.2
PyYAML             6.0.3
requests           2.34.2
s3transfer         0.17.0
scikit-learn       1.8.0
scipy              1.17.1
six                1.17.0
starlette          1.0.1
threadpoolctl      3.6.0
tokenizers         0.19.1
tqdm               4.67.3
types-requests     2.33.0.20260518
typing_extensions  4.15.0
typing-inspection  0.4.2
tzdata             2026.2
urllib3            2.7.0
uvicorn            0.47.0
